include LICENSE
include README.md
include *.txt
include fastwindx/**/*.py
recursive-include fastwindx *
recursive-include fastwindx *.html *.css *.js
recursive-include fastwindx/static *
recursive-include fastwindx/templates *