<!-- card -->
<section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-3">
  <div class="p-6 pb-0 text-center text-xs font-bold text-base-content/60">
    Recent events
  </div>
  <ul class="menu">
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?6" />
          </div>
        </div>
        <span class="text-xs">
          <b>New User</b>
          <br />
          2 minutes ago
        </span>
      </a>
    </li>
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?7" />
          </div>
        </div>
        <span class="text-xs">
          <b>New product added</b>
          <br />
          1 hour ago
        </span>
      </a>
    </li>
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?8" />
          </div>
        </div>
        <span class="text-xs">
          <b>Database update</b>
          <br />
          1 hour ago
        </span>
      </a>
    </li>
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?9" />
          </div>
        </div>
        <span class="text-xs">
          <b>Newsletter sent</b>
          <br />
          2 hour ago
        </span>
      </a>
    </li>
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?10" />
          </div>
        </div>
        <span class="text-xs">
          <b>New User</b>
          <br />
          2 hours ago
        </span>
      </a>
    </li>
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?11" />
          </div>
        </div>
        <span class="text-xs">
          <b>New product added</b>
          <br />
          yesterday
        </span>
      </a>
    </li>
    <li>
      <a class="gap-4">
        <div class="avatar">
          <div class="w-6 rounded-full">
            <img src="https://picsum.photos/80/80?12" />
          </div>
        </div>
        <span class="text-xs">
          <b>New product added</b>
          <br />
          yesterday
        </span>
      </a>
    </li>
  </ul>
</section>
<!-- /card -->