<!-- card -->
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
  <div class="card-body grow-0">
    <h2 class="card-title">
      <a class="link-hover link">Transactions</a>
    </h2>
  </div>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <tbody>
        <tr>
          <td>name</td>
          <td>Feb 2nd</td>
          <td>
            <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-up-right.svg"
              class="inline-block h-5 w-5 text-success"></svg>
            180 USD
          </td>
        </tr>
        <tr>
          <td>Hart Hagerty</td>
          <td>Sep 2nd</td>
          <td>
            <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-up-right.svg"
              class="inline-block h-5 w-5 text-success"></svg>
            250 USD
          </td>
        </tr>
        <tr>
          <td>Jim Hagerty</td>
          <td>Sep 2nd</td>
          <td>
            <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-up-right.svg"
              class="inline-block h-5 w-5 text-success"></svg>
            250 USD
          </td>
        </tr>
        <tr>
          <td>Hart Hagerty</td>
          <td>Sep 2nd</td>
          <td>
            <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-down-right.svg"
              class="inline-block h-5 w-5 text-error"></svg>
            250 USD
          </td>
        </tr>
        <tr>
          <td>Hart Hagerty</td>
          <td>Sep 2nd</td>
          <td>
            <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-down-right.svg"
              class="inline-block h-5 w-5 text-error"></svg>
            250 USD
          </td>
        </tr>
        <tr>
          <td>Brice Swyre</td>
          <td>Jul 2nd</td>
          <td>
            <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-up-right.svg"
              class="inline-block h-5 w-5 text-success"></svg>
            320 USD
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- /card -->