<!-- card -->
<section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-4">
  <div class="card-body">
    <h2 class="card-title">Sources</h2>
    <div class="flex items-center gap-10">
      <div class="grow">
        <div class="flex items-center gap-2">
          <span class="badge badge-xs bg-[#19D6BF]"></span>
          Direct
        </div>
        <div class="flex items-center gap-2">
          <span class="badge badge-xs bg-[#A838FF]"></span>
          Social
        </div>
        <div class="flex items-center gap-2">
          <span class="badge badge-xs bg-[#3C37FF]"></span>
          Search
        </div>
        <div class="flex items-center gap-2">
          <span class="badge badge-xs bg-[#FFBD3C]"></span>
          Email
        </div>
      </div>
      <tc-pie
        class="h-32 w-32 shrink-0 [--shape-color-1:#A838FF] [--shape-color-2:#19D6BF] [--shape-color-3:#3C37FF] [--shape-color-4:#FFBD3C]"
        values="[35,68,22,16]" shape-size="30" shape-gap="6"></tc-pie>
    </div>
  </div>
</section>
<!-- /card -->