aiofiles
alembic
asyncpg
bcrypt
click
fastapi[all]
httpx
passlib
psycopg2-binary
pydantic
pydantic-settings
pylint
pytest
python-dotenv
python-jose[cryptography]
redis
ruff
setuptools
sqlalchemy-utils
sqlmodel
