fastapi[all]
sqlmodel
alembic
pydantic
pydantic-settings
passlib
python-jose[cryptography]
psycopg2-binary
bcrypt
httpx
aiofiles
redis
click
python-dotenv
pytest
pylint
ruff
setuptools
asyncpg
sqlalchemy-utils